@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@600&family=Caprasimo&family=Heebo&display=swap');
body{
    font-weight: 700;
    font-size: 20px;
    margin:0;
    overflow-x: hidden;
}
ul{
    background-color: white;
    height:20px;
    list-style-type: none;
    padding: 0;
    margin:3px 0 20px 0;
}
.left{
    display:block;
    float:left;
    padding:10px;
}
.right{
    float:right;
    padding:10px;
}
.show{
    display: block;
}
#hidden{
    display:none;
}
.header{
    margin:0;
    width:100%;
    height:250px;
    background-color: #CCE5FF;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.header>h2{
    font-size: 2em;
}
.container{
    width:1200px;
    margin-left:auto;
    margin-right:auto;
    margin-top:30px;
}
.promotion{
    margin-left: 10px;
    margin-right: 10px;
    display:grid;
    grid-gap:20px;
    height:50px; 
    grid-template-columns:1fr 1fr 1fr;
}
.promotion img{
    height:50px;
    width:80px;
    overflow:hidden;
    object-fit: cover;
}
.promotion>div{
    display:flex;
    align-items: center;
    background-color: #99CCFF ;
}
.title{
    font-family: 'Heebo', sans-serif;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    grid-gap:20px;
}
.title img{
    width:100%;
    height:100px;
    overflow:hidden;
    object-fit:cover;
}
.title>div{
    display:block;
    background-color: #99CCFF;
    height:150px;
}
.title>div>div{
    display:flex;
    width:120px;
    font-size: 12px;
    margin-left: auto;
    margin-right: auto;
    justify-content:center;
    align-items:center;
    text-align: center;
    height:35px;
}

@media (max-width:1200px){
    .container{
        width:90%;
        margin-left: auto;
        margin-right: auto;
    }
    .promotion{
        display:grid;
        grid-template-columns: auto auto;
        margin-left: 10px;
        margin-right: 10px;
    }
    #promotion_3{
        grid-row:2;
        grid-column: 1/span 2;
    }
    .title{
        display:grid;
        grid-template-columns: auto auto auto auto;
        position:relative;
        top:70px;
        
    }
    .title>div{
        display:block;
    }
}
@media (max-width:600px){
    .container{
        width:90%;
        margin-left: auto;
        margin-right: auto;
    }
    .show{
        display: none;
    }
    #hidden{
        display:block;
    }
    .title{
        display:grid;
        grid-template-columns: auto;
        position:relative;
        top:140px;
    }
    .promotion{
        display:grid;
        grid-template-columns: auto;
    }
    #promotion_3{
        grid-row:3;
        grid-column: 1;
    }
}